{% extends 'wedding_app/base.html' %}
{% load staticfiles %}

{% block content %}
    {% block slider %}
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                </div>
            </div>
        </header>
    {% endblock %}

    {% block when %}
        <section class="bg-primary two-sides">
            <div class="container">
                <div class="row flex">
                    <div class="col-sm-6 text-center flex padding-header lb-border">
                        <div class="flex-centered">
                            <h2>Kiedy?</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center padding-top">
                        <div class="row">
                            <div class="col-sm-12 padding-cell">
                                <h2>{{ wedding.when.day }}/{{ wedding.when.month }}</h2>
                                <hr class="hr-divider">
                                <p>{{ wedding_day }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 padding-cell">
                                <img class="icon" src="{% static 'img/icon-church.svg' %}">
                                <p>{{ wedding.when.hour }}:{{ wedding.when.minute }}</p>
                                <hr class="hr-divider">
                                <p>Ślub</p>
                            </div>
                            <div class="col-sm-6 padding-cell">
                                <img class="icon" src="{% static 'img/icon-party.svg' %}">
                                <p>{{ party.when.hour }}:{{ party.when.minute }}</p>
                                <hr class="hr-divider">
                                <p>Wesele</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex padding-button">
                        <a href="/party" class="btn btn-default-btn-xl flex-centered button">Zobacz szczegóły</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block countdown %}
        <section class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 flex" id="clockdiv">
                        <div class="flex-list flex-vertical">
                            <span class="days"></span>
                            <span>Dni</span>
                        </div>
                        <div class="flex-list flex-vertical">
                            <span class="hours"></span><br>
                            <span>Godziny</span>
                        </div>
                        <div class="flex-list flex-vertical">
                            <span class="minutes"></span>
                            <span>Minuty</span>
                        </div>
                        <div class="flex-list flex-vertical">
                            <span class="seconds"></span>
                            <span>Sekundy</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% include 'rsvp/rsvp.html' %}

    {% if wedding_time_json %}
        <script src="{% static 'js/countdown.js' %}"></script>
        <script>
            var wedding_time_ = {{ wedding_time_json|safe }};
            initializeClock('clockdiv', wedding_time_.wedding_time)
        </script>
    {% endif %}
{% endblock %}