{% extends 'wedding_app/base.html' %}
{% load staticfiles %}

{% block content %}
    {% block slider %}
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                </div>
            </div>
        </header>
    {% endblock %}

    {% block when %}
        <section class="bg-primary two-sides">
            <div class="container">
                <div class="row flex">
                    <div class="col-sm-6 text-center flex padding-header lb-border">
                        <div class="flex-centered">
                            <h2>Kiedy?</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center padding-top">
                        <div class="row">
                            <div class="col-sm-12 padding-cell">
                                <h2>{{ wedding.when.day }}/{{ wedding.when.month }}</h2>
                                <hr class="hr-divider">
                                <p>{{ wedding_day }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 padding-cell">
                                <img class="icon" src="{% static 'img/icon-church.svg' %}">
                                <p>{{ wedding.when.hour }}:{{ wedding.when.minute }}</p>
                                <hr class="hr-divider">
                                <p>Ślub</p>
                            </div>
                            <div class="col-sm-6 padding-cell">
                                <img class="icon" src="{% static 'img/icon-party.svg' %}">
                                <p>{{ party.when.hour }}:{{ party.when.minute }}</p>
                                <hr class="hr-divider">
                                <p>Wesele</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flex padding-button">
                        <a href="/party" class="btn btn-default-btn-xl flex-centered button">Zobacz szczegóły</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block countdown %}
        <section class="bg-secondary countdown-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1 class="text-center countdown-header">Pozostało</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="countdown-id" class="countdown flex-horizontal">
                            <div class="countdown-cell flex-vertical">
                                <span class="countDays">
                                    <span class="position {% if wedding.when.date.day < 100 %} hide {% endif %}">
                                        <span class="digit static"></span>
                                    </span>
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                </span>
                                <span class="countdown-desc">Dni</span>
                            </div>

                            <span class="countDiv countDiv0"></span>

                            <div class="countdown-cell flex-vertical">
                                <span class="countHours">
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                </span>
                                <span class="countdown-desc">Godzin</span>
                            </div>

                            <span class="countDiv countDiv1"></span>

                            <div class="countdown-cell flex-vertical">
                                <span class="countMinutes">
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                    <span class="position">
                                        <span class="digit static"></span>
                                    </span>
                                </span>
                                <span class="countdown-desc">Minut</span>
                            </div>

                            <!--<span class="countDiv countDiv2"></span>-->

                            <!--<div class="countdown-cell flex-vertical">-->
                                <!--<span class="countSeconds">-->
                                    <!--<span class="position">-->
                                        <!--<span class="digit static"></span>-->
                                    <!--</span>-->
                                    <!--<span class="position">-->
                                        <!--<span class="digit static"></span>-->
                                    <!--</span>-->
                                <!--</span>-->
                                <!--<span class="countdown-desc">Sekund</span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    <section class="bg-primary rsvp" id="rsvp">
        {% include 'rsvp/rsvp.html' %}
    </section>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- AJAX form -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Bootstrap-switch -->
    <script src="{% static 'vendor/bootstrap-switch/js/bootstrap-switch.js' %}"></script>
    <script>
        $.fn.bootstrapSwitch.defaults.size = 'mini';
        $.fn.bootstrapSwitch.defaults.onText = 'TAK';
        $.fn.bootstrapSwitch.defaults.offText = 'NIE';
        $("[name='transport']").bootstrapSwitch();
        $("[name='accomodation']").bootstrapSwitch();
    </script>

    {% if wedding_time_json %}
        <!-- Countdown scripts -->
        <script src="{% static 'vendor/countdown/js/jquery.countdown.js' %}"></script>
        <script src="{% static 'vendor/countdown/js/countdown.js' %}"></script>
        <script>
            var wedding_time_ = {{ wedding_time_json|safe }};
            initializeClock('countdown-id', wedding_time_.wedding_time)
        </script>
    {% endif %}
{% endblock %}