<!DOCTYPE html>
<html lang="pl">

{% load staticfiles %}
{% load compile_static %}
{% load static %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="wedding">
    <meta name="author" content="www.gajownik.com">

    <title>{{ couple.bride_name }} & {{ couple.groom_name }}</title>

     <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme LESS -->

        <link rel="stylesheet" type="text/less" href="{% static 'less/creative.less'|compile %}">
        <link rel="stylesheet" type="text/less" href="{% static 'less/wedding.less'|compile %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% endblock %}

{% block content %}
<div class="bg-secondary login flex-center text-center full-height" id="login">
    <div class="panel panel-secondary dialog-panel">
        <div class="panel-heading">
            <h3>Witaj! Wpisz otrzymane hasło.</h3>
        </div>
        <div class="panel-body">
            <form id="login-form" class="form-horizontal" role="form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-group internal {% if form.password.errors %} form-error {% endif %}">
                        {{ form.password }}
                    </div>
                </div>

                <div class="col-xs-12">
                    <input class="button" type="submit" value="Potwierdź">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

