<!DOCTYPE html>
<html lang="pl">

{% load staticfiles %}
{% load compress %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="wedding">
    <meta name="author" content="www.gajownik.com">

    <title>{{ couple.bride_name }} & {{ couple.groom_name }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme LESS -->
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'less/creative.less' %}">
        <link rel="stylesheet" type="text/less" href="{% static 'less/wedding.less' %}">
    {% endcompress %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% endblock %}

{% block content %}
    <div class="row flex">
        <div class="flex-center">

        </div>
    </div>
{% endblock %}

