{% extends 'wedding_app/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block content %}
    {% block slider %}
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                </div>
            </div>
        </header>
    {% endblock %}

    {% block party_details %}
        <section class="bg-primary party-details">
            <div class="container">
                <div class="row header">
                    <div class="col-xs-12 text-center">
                        <h1>Szczegóły</h1>
                    </div>
                </div>
                <hr class="hr-divider">
                <div class="row body">
                    <div class="col-lg-5 col-lg-offset-1 flex-vertical">
                        <img class="img-responsive center-block" src="{{ wedding.image.url }}">
                        <h3>Ceremonia zaślubin</h3>
                        {{ wedding.description|linebreaks }}
                        <h4>{{ wedding_day }}, {{ wedding.when.day }}.{{ wedding.when.month }}.{{ wedding.when.year }}r., godz. {{ wedding.when.hour }}:{{ wedding.when.minute }}</h4>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1 flex-vertical">
                        <img class="img-responsive center-block" src="{{ party.image.url }}">
                        <h3>Przyjęcie weselne</h3>
                        {{ party.description|linebreaks }}
                        <h4>{{ wedding_day }}, {{ party.when.day }}.{{ party.when.month }}.{{ party.when.year }}r., godz. {{ party.when.hour }}:{{ party.when.minute }}</h4>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block party-map %}
        <section class="map">
            <div class="row">
                <div id="map"></div>
                <input class="address-input" id="wedding-address" type="textbox" value="{{ wedding.address }}">
                <input class="address-input" id="party-address" type="textbox" value="{{ party.address }}">
            </div>
        </section>
    {% endblock %}

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Google Maps -->
    <script src="{% static 'js/googlemaps.js' %}"></script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt95rribGhifJ5kYj2si5j-keKLcPOrx4&callback=initMap"> </script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt95rribGhifJ5kYj2si5j-keKLcPOrx4"> </script>
    <script>
        $(document).ready(initMap('{% static "img/google_maps/" %}'));
    </script>
{% endblock %}