/* Move brand to center */
.navbar-brand {
    position: absolute;
    width: 80%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
}

/* Move menu to center */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Change manu icon color */
.navbar-default svg path {
    fill: #F05F40 !important;
}

/* Hide navbar brand on big devices */
@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }

    /* Change manu icon color */
    .navbar-default svg path {
        fill: rgba(255, 255, 255, 0.7) !important;
    }

    .navbar-default.affix svg path {
        fill: #222222 !important;
    }
}

/* Hide menu image on small devices */
@media (max-width: 768px) {
    .navbar-nav > .navbar-image {
        display: none;
    }
}