{% block rsvp %}
{% load staticfiles %}

    <link href="{% static 'vendor/bootstrap-switch/bootstrap3/bootstrap-switch.css' %}" rel="stylesheet">

    <div class="container">
        <div class="panel panel-primary dialog-panel">
            <div class="panel-heading text-center">
                <h3>Będziesz z nami?</h3>
            </div>
            <div class="panel-body">
                {% if not rsvp_success %}
                <form id="rsvp-form" class="form-horizontal" role="form" action="{% url 'rsvp:create_rsvp' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-2" for="{{ rsvp_form.name.id_for_label }}">
                            Imię i nazwisko
                        </label>
                        <div class="col-md-8">
                            <div class="col-md-4">
                                <div class="form-group internal {% if rsvp_form.name.errors %} form-error {% endif %}">
                                    {{ rsvp_form.name }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group internal {% if rsvp_form.last_name.errors %} form-error {% endif %}">
                                    {{ rsvp_form.last_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-2" for="{{ rsvp_form.adults_number.id_for_label }}">
                            Goście
                        </label>
                        <div class="col-md-8">
                            <div class="col-md-4">
                                <div class="form-group internal {% if rsvp_form.adults_number.errors %} form-error {% endif %}">
                                    {{ rsvp_form.adults_number }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group internal {% if rsvp_form.childrens_number.errors %} form-error {% endif %}">
                                    {{ rsvp_form.childrens_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 flex">
                            <label class="flex-cell flex-center" for='{{ rsvp_form.transport.id_for_label }}'>
                                Transport
                            </label>
                            <div class="flex-cell flex-center">
                                {{ rsvp_form.transport.errors }}
                                {{ rsvp_form.transport }}
                            </div>
                            <label class="flex-cell flex-center" for=" {{ rsvp_form.accomodation.id_for_label }}">
                                Nocleg
                            </label>
                            <div class="flex-cell flex-center">
                                {{ rsvp_form.accomodation.errors }}
                                {{ rsvp_form.accomodation }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 flex">
                        <input class="button flex-centered" type="submit" value="Potwierdź">
                    </div>
                </form>
                {% else %}
                    <h4 class="text-center">Dziękujemy za potwierdzenie swojej obecności. Do zobaczenia!</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}